{% extends "base.html" %}
{% block style %}
.panel {
    background: white;
}

.column {
    margin-right: 10px;
    margin-left: 10px;
}

.panel-block {
    display: flex;
    align-items: initial;
}

.panel-block.folder {
    display: flex;
    justify-content: space-between;
}

.panel-block.folder span {
    display: flex;
}

.panel-block label {
    word-wrap: break-word;
}

.panel-block-container {
    overflow: auto;
    height: 40vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    word-break: break-all;
}

.control.has-icons-right .icon {
    pointer-events: auto;
}

.clear-search {
    cursor: default;
}

.has-icons-right {
    position: relative;
}

.accordion {
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-direction: column;
}
{% endblock %}
{% load directory_explorer_tags %}
{% block content %}
<div class="columns">
    <div class="column">
        <nav class="panel">
            <p class="panel-heading">
                Choose Files or Directories to process
            </p>
            <div class="panel-block">
                <p class="control has-icons-left has-icons-right">
                    <label for="search-input"></label>
                    <input class="input" id="search-input" type="text" placeholder="Search">
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="false"></i>
                    </span>
                    <span class="icon is-right clear-search">
                        <i class="fas fa-times" aria-hidden="false"></i>
                    </span>
                </p>
            </div>
            <label class="panel-block">
                <input type="checkbox" id="select-all-checkbox">
                Select All
            </label>
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="panel-block-container">
                    {% include "directory_contents.html" %}

                    <label class="panel-block folder accordion">
                        <span>
                            <input type="checkbox" name="input_dir">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="panel-icon">
                                <i class="fas fa-folder" aria-hidden="false"></i>
                            </span>
                            Test Directory
                        </span>
                        <span class="arrow mr-2 is-medium">
                            <i class="fas fa-lg fa-angle-right" ></i>
                        </span>
                    </label>

                    <div class="panel-block folder accordion-panel" id=1 parentId=0>

                        <label class="panel-block folder accordion" >
                            <span>
                                <input type="checkbox" name="input_dir">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="panel-icon">
                                    <i class="fas fa-folder" aria-hidden="false"></i>
                                </span>
                                Test Directory
                            </span>
                            <span class="arrow mr-2 is-medium">
                                <i class="fas fa-lg fa-angle-right" ></i>
                            </span>
                        </label>

                        <div class="panel-block accordion-panel" id=2 parentId=1>
                            <p>This is a test</p>
                        </div>

                    </div>
                </div>
                <div class="panel-block">
                    <button class="button is-link is-fullwidth">Next</button>
                </div>
            </form>
        </nav>
    </div>
</div>
{% endblock %}
{% block script %}
{% include "importer.js" %}
{% endblock %}