{% extends "base_auth.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="text-center">Login</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" value="{{ form.username.value }}" required>
        {% if form.username.errors %}
        <div class="alert alert-danger">
            {{ form.username.errors }}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <div class="input-group">
            <input type="password" name="password" class="form-control" id="password" value="{{ form.password.value }}" required>
            <span class="input-group-text">
                <i id="password-icon" class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility()"></i>
           </span>
        </div>
        {% if form.password.errors %}
        <div class="alert alert-danger">
            {{ form.password.errors }}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </div>
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
</form>
<div class="text-center">
    <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot Password?</a>
</div>

<script>
    function togglePasswordVisibility() {
        const passwordField = document.getElementById('password');
        const passwordIcon = document.getElementById('password-icon');
        const isPassword = passwordField.type === 'password';
        passwordField.type = isPassword ? 'text' : 'password';
        passwordIcon.classList.toggle('bi-eye-slash-fill', !isPassword);
        passwordIcon.classList.toggle('bi-eye-fill', isPassword);
    }
</script>
{% endblock %}